{% extends 'frontend/ecommerce/base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <div class="shop-wrapper">
        <div id="cart-page" class="section">
            <!-- Container -->
            <div class="container">
                <!-- Cart page -->
                <div class="columns account-header">
                    <div class="column main-column is-tablet-landscape-padded">
                        <div class="account-title">
                            <h2>MON PANIER</h2>
                            <img class="brand-filigrane" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="" />
                        </div>

                        <!-- Account tabs -->
                        {% include 'frontend/menu-account.html.twig' with { "cart":"is-active" } %}

                        <div id="cart-main-placeholder" class="main-placeholder is-hidden">
                            <div class="placeholder-content">
                                <img src="{{ asset('frontend/img/illustrations/shop.svg') }}" alt="" />
                                <h3>Empty Cart</h3>
                                <p>Your shopping cart is currenlty empty. Start adding products to be able to checkout.</p>
                                <div class="button-wrap">
                                    <a href="{{ path('show_products_front') }}" class="button big-button primary-button rounded raised">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-account-grid is-multiline">
                            <!--Loader-->
                            <div class="account-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                            <!-- Product list -->
                            <div id="cart-page-products" class="column is-8">
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office6.png" alt="" />
                                            <span class="product-info">
                                            <span></span>
                                            <span></span>
                                        </span>
                                            <span class="product-price">
                                            <span>Prix</span>
                                            <span></span>
                                        </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99" />
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                            <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart" data-placement="top">
                                                <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                            </span>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Product -->
                            </div>
                            <!--Cart Summary-->
                            <div class="column is-4">
                                <div class="flat-card cart-order-summary">
                                    <div class="button-wrap">
                                        <div class="summary-header">
                                            <i data-feather="shopping-cart"></i>
                                            <div><var id="cart-page-count">1</var> <span>Produit(s) dans le panier</span></div>
                                        </div>
                                        <div class="cart-summary-list">
                                            <div class="summary-item">
                                                <span>Prix Total </span>
                                                <span id="cart-summary-subtotal" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Taxes</span>
                                                <span id="cart-summary-taxes" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Shipping</span>
                                                <span id="cart-summary-shipping" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item is-bold">
                                                <span>Total</span>
                                                <span id="cart-summary-total" class="amount">0.00</span>
                                            </div>
                                        </div>
                                        <button id="init-checkout" class="button is-fullwidth feather-button is-bold primary-button raised is-rounded">Checkout</button>
                                        <button id="update-cart-page" class="button is-fullwidth feather-button is-bold secondary-button raised is-rounded is-hidden">Update Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const checkoutRoute= "{{ path('checkout_step') }}";
        const GoToLogin= "{{ path('app_login') }}";
    </script>
{% endblock %}

{% block js %}

{% endblock %}