{% extends 'frontend/ecommerce/checkout_base.html.twig' %}

{% block stylesheets %}
    <style>
        .select{
            width: 100%;
        }
    </style>
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <div class="action-bar is-centered">
        <div class="steps-wrapper">
            <ol class="step-list">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>

    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
        <!-- Main section -->
        <div id="checkout-1" class="section no-padding">
            <div class="checkout-wrapper" data-checkout-step="1">

                <!--Checkout step 1-->
                <div class="checkout-main">
                    <div class="checkout-container">
                        <div class="flex-table">
                            <!--Table header-->
                            <div class="flex-table-header">
                                <span class="product"><span>Product</span></span>
                                <span class="quantity">Quantity</span>
                                <span class="price">Price</span>
                                <span class="discount">Discount</span>
                                <span class="total">Total</span>
                            </div>
                            <!--Table item-->
                            <div class="flex-table-item" data-product-id="1">
                                <div class="product">
                                    <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/kids2.jpg" alt="">
                                    <span class="product-name">Rabbit Lamp</span>
                                </div>
                                <div class="quantity">
                                    <span>1</span>
                                </div>
                                <div class="price">
                                    <span class="has-price">14.49</span>
                                </div>
                                <div class="discount">
                                    <span class="has-price">0</span>
                                </div>
                                <div class="total">
                                    <span class="has-price">14.49</span>
                                </div>
                            </div>
                        </div>

                        <div class="coupon-wrapper">
                            <h3>Appliquer un code coupon </h3>
                            <p>Si vous possédez un coupon veillez saisir le code afin de bénéficier d'une réduction</p>
                            <div class="field">
                                <div class="control has-icon is-bigger">
                                    <input type="text" class="input is-default" placeholder="Saisissez un code coupon">
                                    <div class="form-icon">
                                        <i data-feather="tag"></i>
                                    </div>
                                    <button class="button primary-button raised coupon-button">Appliquer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkout-side">
                    <div class="side-header">
                        <h2 class="side-title">Checkout</h2>
                        <a href="{{ path('cart') }}" class="button is-rounded checkout-back">Precedent</a>
                    </div>
                    <div class="side-inner has-slimscroll">
                        <div class="side-card user-card">
                            <div class="avatar-container">
                                <img id="checkout-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/elie.jpg" alt="">
                            </div>
                            <div class="meta">
                                <span>Checkout as</span>
                                <span id="checkout-username">Elie Daniels</span>
                            </div>
                        </div>

                        <div class="side-card is-address">
                            <label class="form-switch is-vhidden">
                                <input id="shipping-switch" type="checkbox" class="is-switch">
                                <i></i>
                            </label>
                            <h3 class="address-title">Shipping Address</h3>
                            <p class="address">
                                <var id="shipping-address1">463 San Bernardo Ave</var>, <var id="shipping-address2">Crimson Road</var>
                                <br><var id="shipping-city">Long Beach</var>, <var id="shipping-state">CA</var> <var id="shipping-postalCode">90808</var>
                                <br><var id="shipping-country">United States</var>
                            </p>
                        </div>

                        <div class="side-card is-totals">
                            <h3 class="info-title">Payment Information</h3>
                            <div class="payment-block">
                                <span>Order subtotal</span>
                                <span id="checkout-subtotal-value" class="has-price">200.37</span>
                            </div>
                            <div class="payment-block">
                                <span>Order shipping</span>
                                <span id="checkout-shipping-value" class="has-price">0.00</span>
                            </div>
                            <div class="payment-block">
                                <span>Rémise </span>
                                <span id="checkout-tax-value" class="has-price">7.82</span>
                            </div>
                            <div class="payment-block">
                                <span class="is-bold">Order total</span>
                                <span id="checkout-grandtotal-value" class="has-price is-bold">208.09</span>
                            </div>
                        </div>

                        <div class="side-action">
                            <button id="checkout-next" class="button primary-button raised is-fullwidth is-rounded">Etape suivante</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main section -->
    </div>
{% endblock %}

{% block js %}
    <script>
        const current= "{{ path('checkout_step') }}";
        const check_couponRoute= "{{ path('coupon') }}";
        const next= "{{ path('checkout_step2') }}";
        const prev= "{{ path('cart') }}";
    </script>
{% endblock %}