{% extends 'frontend/ecommerce/base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<div class="shop-wrapper">

    <!-- Search overlay -->
    <div class="search-overlay"></div>
    <div class="search-input-wrapper is-desktop is-hidden">
        <div class="field">
            <div class="control">
                <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                <span id="clear-search" role="button"><i data-feather="x"></i></span>
                <span class="bar"></span>
            </div>
            <span class="search-help">Type the name of the product you are looking for</span>
        </div>
    </div>
    <!-- Main section -->
    <div id="orders-list" class="section" data-orders="{{ orders }}">
        <!-- Container -->
        <div class="container">
            <!-- Orders Grid -->
            <div class="columns account-header">
                <div class="column main-column is-tablet-landscape-padded">
                    <div class="account-title">
                        <h2>Mes Commandes</h2>
                        <img class="brand-filigrane" src="assets/img/logo/nephos-greyscale.svg" alt="">
                    </div>

                    <!-- Account tabs -->
                    <div class="tabs account-tabs has-controls">
                        <ul>
                            <li><a href="{{ path('app_account') }}">Account</a></li>
                            <li><a href="{{ path('my_products_front') }}">Mes Produits</a></li>
                            <li><a href="{{ path('app_whishlist') }}">Wishlist</a></li>
                            <li><a href="{{ path('cart') }}">Cart</a></li>
                            <li class="is-active"><a href="{{ path('order') }}">Mes Commandes</a></li>
                        </ul>
                    </div>

                    <!-- Controls -->
                    <div class="listing-controls">
                        <div class="layout-controls">
                            <a href="{{ path('order') }}"><span ><i data-feather="grid"></i></span></a>
                            <a href="{{ path('order_list') }}"><span class="is-active"><i data-feather="list"></i></span></a>
                        </div>
                        <!-- Sort -->
                        <div class="sort-box">
                            <div class="sort-box-select">
                                <select id="TriCom" data-placeholder="Default order" class="chosen-select-no-single triOrders">
                                    <option value="Tout">Toutes les Commandes</option>
                                    <option value="Livré">Livré</option>
                                    <option value="En Cours de Livraison">En Cours de Livraison</option>
                                    <option value="En Attente">En Attente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /Controls -->

                    <div id="orders-main-placeholder" class="main-placeholder is-hidden">
                        <div class="placeholder-content">
                            <img src="assets/img/illustrations/happy.svg" alt="">
                            <h3>Bienvenue dans le site E-Mobiler</h3>
                            <p>Pour voir vos commandes , il est nécessaire d'être connecté.</p>
                            <div class="button-wrap">
                                <a href="{{ path('app_login') }}" class="button big-button primary-button rounded raised">Se Connecter</a>
                            </div>
                            <a href={{ path('app_register', {'role': 'new_user'}) }}>N'avez-vous pas de compte ?</a>
                        </div>
                    </div>

                    <div id="orders-empty-placeholder" class="main-placeholder is-hidden">
                        <div class="placeholder-content">
                            <img src="assets/img/illustrations/happy.svg" alt="">
                            <h3>Pas de Commandes</h3>
                            <p>Vous n'avez éffectué de commandes jusqu'à présent. Allere dans la boutique et commander un article.</p>
                            <div class="button-wrap">
                                <a href="{{ path('get_products_front') }}" class="button big-button primary-button rounded raised">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                    <div id="orders-main" class="columns is-account-grid is-multiline" >
                        <!--Loader-->
                        <div class="account-loader is-active">
                            <div class="loader is-pulled is-loading"></div>
                        </div>
                        <!-- Orders -->
                        <div class="column is-12">
                            <!--Order-->
                            <div class="order-long-card">
                                <div class="left-side">
                                    <div class="order-header">
                                        <h3>ORDER 46895</h3>
                                        <span class="date">Aug 17 2019</span>
                                        <span class="tag is-primary">Shipping</span>
                                        <span class="order-total">365.45</span>
                                    </div>
                                    <!--List-->
                                    <div class="ordered-products has-slimscroll">
                                        <!--Loader-->
                                        <div class="products-loader">
                                            <div class="loader is-loading"></div>
                                        </div>
                                        <!--Ordered Product-->
                                        <div class="ordered-product">
                                            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/red-seat.png" alt="">
                                            <div class="product-meta">
                                                <span class="name">Red Seat</span>
                                                <span class="price">
                                                            <span>45.00</span>
                                                    <span>x <var>1</var></span>
                                                    </span>
                                            </div>
                                            <div class="product-subtotal">
                                                <span>Total</span>
                                                <span>45.00</span>
                                            </div>
                                        </div>
                                        <!--Ordered Product-->
                                        <div class="ordered-product">
                                            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/blue-seat.png" alt="">
                                            <div class="product-meta">
                                                <span class="name">Blue Seat</span>
                                                <span class="price">
                                                            <span>35.00</span>
                                                    <span>x <var>1</var></span>
                                                    </span>
                                            </div>
                                            <div class="product-subtotal">
                                                <span>Total</span>
                                                <span>35.00</span>
                                            </div>
                                        </div>
                                        <!--Ordered Product-->
                                        <div class="ordered-product">
                                            <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/dark-seat.jpg" alt="">
                                            <div class="product-meta">
                                                <span class="name">Dark Seat</span>
                                                <span class="price">
                                                            <span>52.25</span>
                                                    <span>x <var>1</var></span>
                                                    </span>
                                            </div>
                                            <div class="product-subtotal">
                                                <span>Total</span>
                                                <span>52.25</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <!-- Background Nephos Icon -->
                                    <img class="side-bg" src="assets/img/logo/nephos-greyscale.svg" alt="">
                                    <div class="meta-header">
                                        <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/janet.jpg" alt="">
                                        <div class="inner-meta">
                                            <span>Handled by</span>
                                            <span>Janet Smith</span>
                                        </div>
                                        <a class="support">
                                            <i data-feather="life-buoy"></i>
                                        </a>
                                    </div>

                                    <div class="meta-actions">
                                        <a class="button is-rounded is-fullwidth primary-button raised">Order Details</a>
                                        <a class="button is-rounded is-fullwidth grey-button rounded">Invoice</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        let orderRoute = "{{ path('single_order') }}";

    </script>
    <script src="{{ asset('frontend/js/orders.js') }}"></script>
{% endblock %}