<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('backend/images/favicon.ico') }}">
    <!-- Sweet Alert-->
    <link href="{{ asset('backend/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Jquery Toast css -->
    <link href="{{ asset('backend/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{{ asset('backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    {% block stylesheets %}{% endblock %}
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    {% include 'backend/base/header.html.twig' %}
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    {% include 'backend/base/menu.html.twig' %}
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->

            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">{% block block_starter %}test {% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            {% block body %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        {% include("backend/base/footer.html.twig") %}
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="{{ asset('backend/js/vendor.min.js') }}"></script>

<!-- Tost-->
<script src="{{ asset('backend/libs/jquery-toast/jquery.toast.min.js') }}"></script>

<!-- toastr init js-->
<script src="{{ asset('backend/js/pages/toastr.init.js') }}"></script>

<!-- Sweet Alerts js -->
<script src="{{ asset('backend/libs/sweetalert2/sweetalert2.min.js') }}"></script>

<!-- custom js -->
<script src="{{ asset('axios/default-functions-back.js') }}"></script>

<!-- App js -->
<script src="{{ asset('backend/js/app.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>