{% extends 'frontend/ecommerce/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('backend/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Jquery Toast css -->
    <link href="{{ asset('backend/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{{ asset('backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/quill/quill.core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/quill/quill.bubble.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/quill/quill.snow.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/select2/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/dropzone/dropzone.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/custombox/custombox.min.css') }}" rel="stylesheet" />
    <style>
        .select{
            width: 100%;
        }
        .row{
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block title %}Services{% endblock %}

{% block body %}


    <div class="shop-wrapper has-background-image">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>

        <!-- Main section -->
        <div id="products-list" class="section">
            <!-- Container -->
            <div class="container">

                <!-- House products -->
                <div class="columns category-header">
                    <div class="column main-column is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="category-title is-product-category">
                            <h2>{{ (form.vars.value.id is null)?"Ajouter":"Modifier" }} un produit</h2>
                        </div>

                        <!-- Product grid -->
                        <div class="columns is-search-grid is-multiline">
                            <div  class="column is-12">
                                <div class="container-fluid">
                                    <div class="row filter-card">
                                        <div class="col-md-12">
                                            {% include "backend/ecommerce/produit/formulaire-produit.html.twig" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block js %}
    <script>
        const GetCategorieFormRoute = "{{ path('get_form_extend_prod',{"produit":form.vars.value.id}) }}"
        const GetVilleFormRoute = "{{ path('get_ville_form') }}"
    </script>

    <script src="{{ asset('backend/js/vendor.min.js') }}"></script>

    <!-- Tost-->
    <script src="{{ asset('backend/libs/jquery-toast/jquery.toast.min.js') }}"></script>

    <!-- toastr init js-->
    <script src="{{ asset('backend/js/pages/toastr.init.js') }}"></script>

    <!-- Sweet Alerts js -->
    <script src="{{ asset('backend/libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('backend/js/app.min.js') }}"></script>

    <!-- custom js -->
    <script src="{{ asset('axios/default-functions-back.js') }}"></script>

    <!-- Plugins Js -->
    <script src="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('backend/libs/quill/quill.min.js') }}"></script>
    <script src="{{ asset('backend/libs/select2/select2.min.js') }}"></script>
    <script src="{{ asset('backend/libs/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('backend/libs/custombox/custombox.min.js') }}"></script>
    <script src="{{ asset('frontend/js/pages/ecommerce/add-product.js') }}" type="text/javascript"></script>
    <!-- custom js-->
    <script src="{{ asset('backend/js/pages/ecommerce/produit.js') }}"></script>
{% endblock %}