{% extends 'frontend/ecommerce/base.html.twig' %}

{% block stylesheets %}
    <style>
        .slick-prev:before, .slick-next:before {
            font-size: 20px !important;
            color: blue !important;
            opacity: 1 !important;
        }
    </style>
{% endblock %}

{% block title %}Produits{% endblock %}

{% block body %}


    <div class="shop-wrapper has-background-image">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>

        <!-- Main section -->
        <div id="products-list" class="section">
            <!-- Container -->
            <div class="container">

                <!-- House products -->
                <div class="columns category-header">
                    <div class="column main-column is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="category-title is-product-category">
                            <h2>LISTE DES PRODUITS</h2>
                        </div>

                        <!-- Controls -->
                        <div class="listing-controls">
                            <div class="search-count">
                                <span></span>
                            </div>
                            <!-- Search -->
                            <div class="search-field">
                                <div class="control">
                                    <input type="text" class="input is-rounded nephos-search-filter" placeholder="Filter results...">
                                    <a id="search-prod" class="search-icon"><i data-feather="search"></i></a>
                                </div>
                            </div>

                            <div class="sort-box">
                                <div class="sort-box-select">
                                    <select data-placeholder="Plus récent" class="chosen-select-no-single">
                                        <option class="ff">Plus récent</option>
                                        <option class="ff">Prix élévé</option>
                                        <option class="ff">Prix bas</option>
                                        <option class="ff">Pertinance</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Controls -->

                        <!-- Product grid -->
                        <div class="columns is-account-grid is-multiline">

                            <div class="column is-3">
                                <div class="filter-card">
                                    <h3 class="block-title">Categories</h3>
                                    <!--Filter block-->
                                    {% for data in categories %}

                                        <div class="filter-block category-block" data-id="{{ data.categorie.id }}">
                                            <div class="field">
                                                <div class="control">
                                                    <label class="checkbox-wrap is-small">
                                                        <span></span>
                                                        <span class="filter-label">{{ data.categorie.nomCategorie }}</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="filter-count">
                                                <span>{{ data.nbreProduits }}</span>
                                            </div>
                                        </div>
                                        {% for dataSc in data.sc %}

                                            <div class="filter-block category-block" data-id="{{ dataSc.sc.id }}">
                                                <div class="field">
                                                    <div class="control">
                                                        <label class="checkbox-wrap is-small">
                                                            <input type="checkbox" class="d-checkbox">
                                                            <span></span>
                                                            <span class="filter-label">{{ dataSc.sc.nomCategorie }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="filter-count">
                                                    <span>{{ dataSc.nbreProduits }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="filter-card">

                                    <div class="filter-block">
                                        <label>Villes <i class="fa fa-globe"></i></label>
                                        <div class="control">
                                            <select class="native" style="width: 100%" id="ville-filtre">
                                                <option value=""></option>
                                                {% for ville in villes %}
                                                    <option value="{{ ville.id }}">{{ ville.villes }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <label  >Type de transction</i></label>
                                    <div class="filter-block control">
                                        <select class="native"  id="type-tansaction-filtre">
                                            <option value="">Tout</option>
                                            {% for id,val in typeTransaction %}
                                                <option value="{{ id }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <h3>Prix</h3>
                                    <!--Filter block-->
                                    <div class="filter-block">
                                        <div class="price-range-wrapper">
                                            <div class="price-limit">0</div>
                                            <div class="range-slider">
                                                <input id="prix-filtre" class="input-range" type="range" value="{{ prixMax }}" min="1" max="{{ prixMax }}">
                                                <div class="slider-output">
                                                    <small>Voir entre</small><span class="range-value"></span>
                                                </div>
                                            </div>
                                            <div class="price-limit">{{ prixMax|number_format(2) }}</div>
                                        </div>
                                    </div>


                                    <div class="filter-block control">
                                        <label>Meublé</label>
                                        <input id="meuble-filtre" type="checkbox">
                                    </div>

                                    <label>Nbre de chambres</label>
                                    <div class="filter-block control">
                                        <input id="chambre-filtre" class="input is-default basic-spinner" type="number">
                                    </div>

                                    <label>Nbre de salles de bain</label>
                                    <div class="filter-block control">
                                        <input id="salle-bain-filtre" class="input is-default basic-spinner" type="number">
                                    </div>

                                    <label>Longueur</label>
                                    <div class="filter-block control">
                                        <input id="longueur-filtre" class="input is-default basic-spinner" type="number">
                                    </div>

                                    <label>Largeur</label>
                                    <div class="filter-block control">
                                        <input id="largeur-filtre" class="input is-default basic-spinner" type="number">
                                    </div>
                                    <div class="has-text-centered">
                                        <a id="filtrer-btn" href="#" class="button feather-button primary-button is-bold">Filtrer</a>
                                    </div>

                                </div>

                            </div>

                            <div  class="column is-9">
                                <div class="panel-footer">
                                    <div class="footer-inner">
                                        <div class="recommended">Produits à la une</div>
                                        <div id="" class="columns  ">
                                            <div class="column is-12 produit-asscocies">
                                                {% for produit in produitAssocies %}
                                                    <!-- Item -->
                                                    <div class="column is-4">
                                                        <div class="featured-product">
                                                            <div class="image">
                                                                <img src="/images/produits/{{ produit.images|first }}" alt="">
                                                            </div>
                                                            <div class="product-info has-text-centered">
                                                                <a class="" href="{{ path('show_single_product_front',{'produit':produit.id}) }}">
                                                                    <h3 class="product-name">{{ produit.nom }}</h3>
                                                                </a>
                                                                <p class="product-description">{{ produit.prix*(1-produit.prixPromo/100) }} F CFA  {{ produit.ville.villes }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-product-grid is-multiline products" data-show="0" data-max="32">
                                    <!-- Product card -->

                                    <!-- /Product card -->
                                </div>
                                <div class="show-more"><a href="#" class="button feather-button primary-button is-bold">Montrer plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block js %}
    <script>
        const showProductsRoute = "{{ path('get_products_front') }}";
        const detailProductRoute = "{{ path('show_single_product_front') }}"
    </script>
    <script src="{{ asset('frontend/js/product-page.js') }}" type="text/javascript"></script>
{% endblock %}