<!-- get personnal information -->

<div class="js-user-rating is-hidden" data-is-authenticated="{{ app.user ? 'true' : 'false' }}">
    <!--get if user is authenticated-->
</div>
<div class="js-user-first-name is-hidden" data-nom="{{ app.user ? app.user.nom }}">
    <!--get firstName-->
</div>
<div class="js-user-last-name is-hidden" data-prenom="{{ app.user ? app.user.prenom }}">
    <!--get lastName-->
</div>
<div class="js-user-email is-hidden" data-email="{{ app.user ? app.user.email }}">
    <!--get email-->
</div>
<div class="js-user-phone is-hidden" data-phone="{{ app.user ? app.user.telephone }}">
    <!--get phone-->
</div>
<div class="js-user-image is-hidden" data-image="{{ app.user ? app.user.image }}">
    <!--get photoUrl-->
</div>

<!-- get address information -->

