<!-- get personnal information -->

<div class="js-user-rating is-hidden" data-is-authenticated="{{ app.user ? 'true' : 'false' }}">
    <!--get if user is authenticated-->
</div>
{% if app.user %}
{% if date(app.user.lastLogin) < date('-30 minutes') %}
    <div class="js-user-able-to-edit is-hidden" data-able-to-edit="{{ app.user ? 'false' }}">
        <!--get if user is abletoedit-->
    </div>
{% else %}
    <div class="js-user-able-to-edit is-hidden" data-able-to-edit="{{ app.user ? 'true' }}">
        <!--get if user is abletoedit-->
    </div>
{% endif %}
{% endif %}

<div class="js-user-first-name is-hidden" data-nom="{{ app.user ? app.user.nom }}">
    <!--get firstName-->
</div>
<div class="js-user-last-name is-hidden" data-prenom="{{ app.user ? app.user.prenom }}">
    <!--get lastName-->
</div>
<div class="js-user-email is-hidden" data-email="{{ app.user ? app.user.email }}">
    <!--get email-->
</div>
<div class="js-user-phone is-hidden" data-phone="{{ app.user ? app.user.telephone }}">
    <!--get phone-->
</div>
<div class="js-user-image is-hidden" data-image="{{ app.user ? app.user.image }}">
    <!--get photoUrl-->
</div>

<!-- get billing address information -->

<div class="js-user-billing-country is-hidden" data-billing-country="{{ app.user ? app.user.paiement ? app.user.paiement.pays }}">
    <!--get billing country-->
</div>
<div class="js-user-billing-postal is-hidden" data-billing-postal="{{ app.user ? app.user.paiement? app.user.paiement.codepostal }}">
    <!--get billing postal-->
</div>
<div class="js-user-billing-address2 is-hidden" data-billing-address2="{{ app.user ? app.user.paiement ? app.user.paiement.ville }}">
    <!--get billing address2-->
</div>
<div class="js-user-billing-city is-hidden" data-billing-city="{{ app.user ? app.user.paiement ? app.user.paiement.quartier }}">
    <!--get billing city-->
</div>
<div class="js-user-billing-state is-hidden" data-billing-state="{{ app.user ? app.user.paiement ? app.user.paiement.adresse }}">
    <!--get billing state-->
</div>

<!-- get shipping address information -->

<div class="js-user-esa is-hidden" data-esa="{{ app.user ? app.user.esa }}">
    <!--get esa-->
</div>
<div class="js-user-shipping-country is-hidden" data-shipping-country="{{ app.user ? app.user.livraison ? app.user.livraison.pays }}">
    <!--get shipping country-->
</div>
<div class="js-user-shipping-postal is-hidden" data-shipping-postal="{{ app.user ? app.user.livraison ? app.user.livraison.codepostal }}">
    <!--get shipping postal-->
</div>
<div class="js-user-shipping-address2 is-hidden" data-shipping-address2="{{ app.user ? app.user.livraison ? app.user.livraison.ville }}">
    <!--get shipping address2-->
</div>
<div class="js-user-shipping-city is-hidden" data-shipping-city="{{ app.user ? app.user.livraison ? app.user.livraison.quartier }}">
    <!--get shipping city-->
</div>
<div class="js-user-shipping-state is-hidden" data-shipping-state="{{ app.user ? app.user.livraison ? app.user.livraison.adresse }}">
    <!--get shipping state-->
</div>

<!-- get verified? -->

<div class="js-user-is-verified" data-is-verified="{{ app.user ? app.user.verified }}">
    <!--get isVerified-->
</div>

<div class="js-user-phone-verified" data-phone-verified="{{ app.user ? app.user.phoneVerified }}">
    <!--get phone verified-->
</div>