{% extends '/security/frontend/base.html.twig' %}

{% block title %}Partenariat{% endblock %}

{% block body %}

    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
        <!-- Main section -->
        {% if is_granted('ROLE_PARTENAIRE') %}
            <div id="account-page" class="section">
                <!-- Container -->
                <div class="container">
                    <!-- Account Layout -->
                    <div class="columns account-header">
                        <div class="column main-column is-tablet-landscape-padded">
                            <!-- Title -->
                            <div class="account-title">
                                <h2>Mon Partenariat</h2>
                                <img class="brand-filigrane" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                            </div>

                            <!-- Account tabs -->
                            <div class="tabs account-tabs">
                                <ul></ul>
                            </div>

                            <div id="account-main-placeholder" class="main-placeholder is-hidden">
                                <div class="placeholder-content">
                                    <img src="{{ asset('frontend/img/illustrations/profile.svg') }}" alt="">
                                    <h3>Welcome, Guest</h3>
                                    <p>Guest users don't have accounts. Please login or register to view your account.</p>
                                    <div class="button-wrap">
                                        <a href="{{path('app_login')}}" class="button big-button primary-button rounded raised">Log In</a>
                                    </div>
                                    <a href="{{ path('app_register', {'role': 'new_user'}) }}">Don't have an account?</a>
                                </div>
                            </div>

                            <!-- Account layout -->
                            {% if app.user.ps %}
                                <div id="partenariat-main" class="columns is-account-grid is-multiline">
                                    <!--Loader-->
                                    <div class="account-loader is-active">
                                        <div class="loader is-pulled is-loading"></div>
                                    </div>

                                    <div class="column is-5">
                                        <!-- User card -->
                                        <div class="flat-card profile-card is-auto">
                                            <div class="card-body">
                                                {% if app.user.partenariat == "boutique" %}
                                                    <div class="profile-image">
                                                        <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/elie.jpg" alt="">
                                                    </div>
                                                    <div class="username has-text-centered">
                                                        <span>{{ app.user ? app.user.boutique }}</span>
                                                        <small id="full-email">eliedaniels@gmail.com</small>
                                                    </div>
                                                {% else %}
                                                    <div class="profile-image">
                                                        <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/elie.jpg" alt="">
                                                    </div>
                                                    <div class="username has-text-centered">
                                                        <span id="full-name">Elie Daniels</span>
                                                        <small id="full-email">eliedaniels@gmail.com</small>
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="profile-footer has-text-centered">
                                                <span class="achievement-title">Partenariat</span>
                                                <div class="count">
                                                    {{ app.user ? app.user.partenariat }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Gold Customer card -->
                                        <div class="flat-card profile-info-card is-auto is-dark is-achievement">
                                            <div class="card-body">
                                                <img src="{{ asset('frontend/img/logo/nephos-gold.svg') }}" alt="">
                                                <div class="achievement-name">
                                                    <span class="is-gold">Nephos Gold Customer</span>
                                                    <span>As a Gold Customer, you have a permanent 10% discount on all your purchases.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Referal card -->
                                        <div class="flat-card profile-info-card is-auto is-dark is-achievement">
                                            <div class="card-body">
                                                <img src="{{ asset('frontend/img/logo/nephos-referral.svg') }}" alt="">
                                                <div class="achievement-name">
                                                    <span class="is-green">Nephos Referer</span>
                                                    <span>You have referred <b>30+</b> customers. You get a 2.5% discount on all your purchases.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Details -->
                                    <div class="column is-7">
                                        <div class="flat-card profile-info-card is-auto">
                                            <!-- Title -->
                                            <div class="card-title">
                                                <h3>Plus d'informations</h3>
                                                <div class="edit-account has-simple-popover popover-hidden-mobile" data-content="Edit Account" data-placement="top">
                                                    <a id="partenariat-edit-front-alert" ><i class="feather-icons" data-feather="settings"></i></a>
                                                </div>
                                            </div>
                                            <!-- Contact Info -->
                                            <div class="card-body">
                                                <div class="columns">

                                                    {% if app.user.partenariat == "boutique" %}
                                                    <div class="column is-7">
                                                        <div class="info-block">
                                                            <span class="label-text">Nom de la Boutique</span>
                                                            <span id="partenariatB-name" class="label-value">{{ app.user ? app.user.boutique }}</span>
                                                        </div>
                                                        <div class="info-block">
                                                            <span class="label-text">Domaine(s) d'activité(s)</span>

                                                            {% for domaine in app.user.domaine %}
                                                            <span id="partenariatB-domaine" class="label-value">- {{domaine}}</span>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="info-block">
                                                            <span class="label-text">Description</span>
                                                            <span id="partenariatB-desc" class="label-value">{{ app.user ? app.user.description }}</span>
                                                        </div>
                                                    </div>
                                                    {% elseif app.user.partenariat == "services" %}
                                                        <div class="column is-7">
                                                            <div class="info-block">
                                                                <span class="label-text">CIN</span>
                                                                <span id="partenariatS-cin" class="label-value">{{ app.user ? app.user.cin }}</span>
                                                            </div>
                                                            <div class="info-block">
                                                                <span class="label-text">Domaine(s) d'activité(s)</span>

                                                                {% for domaine in app.user.domaine %}
                                                                    <span id="partenariatS-domaine" class="label-value">- {{domaine}}</span>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="info-block">
                                                                <span class="label-text">Description</span>
                                                                <span id="partenariatS-desc" class="label-value">{{ app.user ? app.user.description }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- Background Nephos Icon -->
                                            <img class="card-bg" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                                        </div>

                                        <!-- edit partenariat -->
                                        <div id="edit-partenariat" class="flat-card upload-card is-auto is-hidden">
                                            <div class="card-body profile-info-card">

                                                <div class="card-title">
                                                    <h3>Editer Votre Partenariat</h3>
                                                    <div class="edit-account has-simple-popover popover-hidden-mobile" data-content="Edit Account" data-placement="top">
                                                        <a id="partenariat-exit-edit-front-alert" ><i class="feather-icons" data-feather="x"></i></a>
                                                    </div>
                                                </div>
                                            </br>
                                            </br>

                                                {% if app.user.partenariat == "boutique" %}

                                                    <!-- Avatar form -->
                                                    <div id="avatar-upload" class="avatar-wrapper has-simple-popover" data-content="Change profile picture" data-placement="top">

                                                        <img class="profile-pic" id="partenariatB-edit-logo" src="{{ asset('frontend/img/avatars/avatar.png') }}" alt="">

                                                        <div class="upload-button modal-trigger" data-modal="upload-crop-modal">
                                                            <i class="upload-icon" data-feather="plus" aria-hidden="true"></i>
                                                        </div>
                                                        <!--input class="file-upload" type="file" accept="image/*"/-->
                                                    </div>
                                                    <!-- /Avatar form -->

                                                    <!-- Partner -->
                                                    <div class="field info-block has-flex-label has-validation">
                                                        <label class="label-text">
                                                            <span>Nom de la Boutique</span>
                                                            <span class="error">Minimum 2 characters</span>
                                                        </label>
                                                        <div class="control">
                                                            <input id="partenariatB-edit-nom" type="text" class="input is-default fake-validation" value="{{ app.user ? app.user.boutique }}">
                                                            <div class="error-icon">
                                                                <i data-feather="x"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="field has-flex-label has-validation">
                                                    <label>
                                                        <span>Domaine(s) d'activité(s)</span>
                                                        <span class="error">Selectionnez au moins un domaine</span>
                                                    </label>
                                                    <div class="control is-bigger has-icon">
                                                        <select id="partenariatB-edit-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)"  multiple>
                                                            <option label="Domaine"></option>
                                                            <option value="immobilier" {% if "immobilier" in app.user.domaine %} selected {% endif %}>Immobilier</option>
                                                            <option value="fournitures" {% if "fournitures" in app.user.domaine %} selected {% endif %}>Fournitures</option>
                                                            <option value="construction" {% if "construction" in app.user.domaine %} selected {% endif %}>Construction</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                    <div class="field info-block has-flex-label has-validation">
                                                        <label class="label-text">
                                                            <span>Description</span>
                                                            <span class="error">Au moins 10 caractéres pour la description</span>
                                                        </label>
                                                        <div class="control">
                                                            <textarea id="partenariatB-edit-desc" class="input" name="description">{{ app.user ? app.user.description }}</textarea>
                                                            <div class="error-icon">
                                                                <i data-feather="x"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="has-text-centered pop-button">
                                                        <form  id="partenariatB-edit-form" method="post" action="{{ path('app_edit_partenariat') }}" >
                                                            <button id="save-partenariatB-button" type="submit" class="button feather-button primary-button is-rounded raised opaque">
                                                                Sauvegarder
                                                            </button>
                                                        </form>
                                                    </div>

                                                {% elseif app.user.partenariat == "services"  %}

                                                    <!--Field cin-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>CIN</span>
                                                            <span class="error">CIN Invalide</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <input id="partenariatS-edit-cin" type="text" name="cin" class="input" value="{{ app.user ? app.user.cin }}">
                                                        </div>
                                                    </div>
                                                    <!--Field domaine-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Domaine(s) d'activité(s)</span>
                                                            <span class="error">Selectionnez au moins un domaine</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <select id="partenariatS-edit-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)" multiple>
                                                                <option label="Domaine"></option>
                                                                {% for service in services %}
                                                                    <option value="{{service.nom}}" {% if service.nom in app.user.domaine %} selected {% endif %}>{{service.nom}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--Field desc-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Description</span>
                                                            <span class="error">Au moins 10 caractéres pour la description</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <textarea id="partenariatS-edit-desc" class="input" name="description">{{ app.user ? app.user.description }}</textarea>
                                                        </div>
                                                    </div>

                                                    <div class="has-text-centered pop-button">
                                                        <form  id="partenariatS-edit-form" method="post" action="{{ path('app_edit_partenariat') }}" >
                                                            <button id="save-partenariatS-button" type="submit" class="button feather-button primary-button is-rounded raised opaque">
                                                                Sauvegarder
                                                            </button>
                                                        </form>
                                                    </div>

                                                {% endif %}

                                            </div>

                                        </div>
                                        <!-- /edit partenariat -->
                                    </div>

                                </div>
                                <div id="partenariat-main-placeholder" class="main-placeholder is-hidden">
                                    <div class="placeholder-content">
                                        <img src="{{ asset('frontend/img/illustrations/stripe.svg') }}" alt="">
                                        <h3>Validation en cours</h3>
                                        <p>Votre Partenariat est en cours de validation par nos agents.</br> Vous allez etre notifié une fois la validation effectué.</p>
                                        <p style="color: #f08080">{% if app.user.verified == 0 or app.user.phoneVerified == 0  %} L'operation risque etre plus longue veuillez proceder a la verification de votre addresse E-Mail et/ou de votre numero de telephone <a href="{{ path('app_security') }}">ici</a> {% endif %}</p>
                                        <div class="button-wrap">
                                            <a href="" class="button big-button primary-button rounded raised is-loading"></a>
                                        </div>
                                        <a id="cancel-partnership" style="color: red;">Annuler mon partenariat</a>
                                    </div>
                                </div>
                            {% else %}
                                <div id="account-main-placeholder" class="main-placeholder">
                                    <div class="placeholder-content">
                                        <img src="{{ asset('frontend/img/illustrations/stripe.svg') }}" alt="">
                                        <h3>Validation en cours</h3>
                                        <p>Votre Partenariat est en cours de validation par nos agents.</br> Vous allez etre notifié une fois la validation effectué.</p>
                                        <p style="color: #f08080">{% if app.user.verified == 0 or app.user.phoneVerified == 0  %} L'operation risque etre plus longue veuillez proceder a la verification de votre addresse E-Mail et/ou de votre numero de telephone <a href="{{ path('app_security') }}">ici</a> {% endif %}</p>
                                        <div class="button-wrap">
                                            <a href="" class="button big-button primary-button rounded raised is-loading"></a>
                                        </div>
                                       <a id="cancel-partnership" style="color: red;">Annuler mon partenariat</a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </div>
        {% else %}
            <div class="section">
                <!-- Container -->
                <div class="container">
                    <!-- Elements Grid -->
                    <div class="columns category-header">
                        <div class="column is-10 is-offset-1 is-tablet-landscape-padded">
                            <!-- Title -->
                            <div class="category-title">
                                <!-- Main Title -->
                                <h2 id="partenariat-title">PARTENARIAT</h2>

                                <!-- Elements Titles -->
                                <h2 id="boutique-title" class="element-title is-hidden">BOUTIQUE</h2>
                                <h2 id="services-title" class="element-title is-hidden">SERVICES</h2>
                                <h2 id="terrain-title" class="element-title is-hidden">TERRAIN</h2>

                                <!-- Back to selection -->
                                <a href="javascript:void(0);" class="button feather-button is-small primary-button raised elements-back is-hidden">Back</a>
                                <!-- Filigrane logo -->
                                <img class="brand-filigrane" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                            </div>


                            <div id="elements-selection" class="columns is-multiline">
                                        <!-- Boutique -->
                                        <div class="column is-4">
                                            <div class="flat-card is-auto is-element-card">
                                                <div class="inner has-text-centered">
                                                    <h3 class="element-card-title">Boutique</h3>
                                                    <img src="{{ asset('frontend/img/illustrations/store.svg') }}" alt="">
                                                    <div class="view-element">
                                                        <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="boutique">View</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Services -->
                                        <div class="column is-4">
                                            <div class="flat-card is-auto is-element-card">
                                                <div class="inner has-text-centered">
                                                    <h3 class="element-card-title">Services</h3>
                                                    <img src="{{ asset('frontend/img/illustrations/couch.svg') }}" alt="">
                                                    <div class="view-element">
                                                        <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="services">View</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Terrain -->
                                        <div class="column is-4">
                                            <div class="flat-card is-auto is-element-card">
                                                <div class="inner has-text-centered">
                                                    <h3 class="element-card-title">Terrain</h3>
                                                    <img src="{{ asset('frontend/img/icons/checkout/world.svg') }}" alt="">
                                                    <div class="view-element">
                                                        <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="terrain">View</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Selection -->
                            <div id="partenariat-main-placeholder" class="main-placeholder is-hidden">
                                    <div class="placeholder-content">
                                        <img src="{{ asset('frontend/img/illustrations/stripe.svg') }}" alt="">
                                        <h3>Validation en cours</h3>
                                        <p>Votre Partenariat est en cours de validation par nos agents.</br> Vous allez etre notifié une fois la validation effectué.</p>
                                        <p style="color: #f08080">{% if app.user.verified == 0 or app.user.phoneVerified == 0  %} L'operation risque etre plus longue veuillez proceder a la verification de votre addresse E-Mail et/ou de votre numero de telephone <a href="{{ path('app_security') }}">ici</a> {% endif %}</p>
                                        <div class="button-wrap">
                                            <a href="" class="button big-button primary-button rounded raised is-loading"></a>
                                        </div>
                                        <a id="cancel-partnership" style="color: red;">Annuler mon partenariat</a>
                                    </div>
                                </div>

                            <!-- Boutique -->
                            <div id="boutique" class="columns is-element is-hidden">
                                <div class="column">

                                    <!-- Default Inputs -->
                                    <div class="flat-card is-auto is-element-details">
                                        <div class="columns is-gapless is-vcentered">
                                            <div class="column is-6 is-description">
                                                <div class="inner">
                                                    <div class="divider"></div>
                                                    <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                    <p>Vous etes proprietaire d'un etablissement de vente/location de fournitures immobiliére, materiaux de constrction, maison/appartement et vous souhaités rejoindre notre communauté afin de promouvoir vos produits et services ? </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                                </div>
                                            </div>
                                            <div class="column is-6 is-component">
                                                <div class="inner">
                                                    <form  id="partenariat-boutique-form" method="post" action="{{ path('app_partenariat') }}">
                                                        <!--Field avatar-->
                                                        <div class="field">
                                                            <!-- Avatar form -->
                                                            <div id="avatar-upload" class="avatar-wrapper has-simple-popover" data-content="Change profile picture" data-placement="top">
                                                                <img class="profile-pic" id="imagesrc" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                                                                <div class="upload-button modal-trigger" data-modal="upload-crop-modal">
                                                                    <i class="upload-icon" data-feather="plus" aria-hidden="true"></i>
                                                                </div>
                                                                <!-- input class="input" id="register-image"  type="file" accept="image/*" name="image" -->
                                                                <!-- input id="register-image" type="text" name="image" class="input" -->
                                                            </div>
                                                            <!-- /Avatar form -->
                                                        </div>
                                                        <!--Field nom-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Nom de la Boutique</span>
                                                                <span class="error">Ne peut etre vide</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <input id="partenariatB-nom" type="text" name="nom" class="input">
                                                            </div>
                                                        </div>
                                                        <!--Field domaine-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Domaine(s) d'activité(s)</span>
                                                                <span class="error">Selectionnez au moins un domaine</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <select id="partenariatB-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)" multiple>
                                                                    <option label="Domaine"></option>
                                                                    <option value="immobilier">Immobilier</option>
                                                                    <option value="fournitures">Fournitures</option>
                                                                    <option value="construction">Construction</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--Field desc-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Description</span>
                                                                <span class="error">Au moins 10 caractéres pour la description</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <textarea id="partenariatB-desc" class="input" name="description"></textarea>
                                                            </div>
                                                        </div>
                                                        <!--Submit-->
                                                        <div class="button-wrap">
                                                            <button id="partenariat-boutique-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Default Inputs -->
                                </div>
                            </div>
                            <!-- /Boutique -->

                            <!-- Services -->
                            <div id="services" class="columns is-element is-hidden">
                                <div class="column">

                                    <!-- Default Inputs -->
                                    <div class="flat-card is-auto is-element-details">
                                        <div class="columns is-gapless is-vcentered">
                                            <div class="column is-6 is-description">
                                                <div class="inner">
                                                    <div class="divider"></div>
                                                    <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                    <p>Vous etes prestataire de services et vous souhaitez proposez vos services dans notre site. </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                                </div>
                                            </div>
                                            <div class="column is-6 is-component">
                                                <div class="inner">
                                                    <form  id="partenariat-services-form" method="post" action="{{ path('app_partenariat') }}">
                                                        <!--Field cin-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>CIN</span>
                                                                <span class="error">CIN Invalide</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <input id="partenariatS-cin" type="text" name="cin" class="input">
                                                            </div>
                                                        </div>
                                                        <!--Field domaine-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Domaine(s) d'activité(s)</span>
                                                                <span class="error">Selectionnez au moins un domaine</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <select id="partenariatS-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)" multiple>
                                                                    <option label="Domaine"></option>
                                                                    {% for service in services %}
                                                                        <option value="{{service.nom}}">{{service.nom}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--Field desc-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Description</span>
                                                                <span class="error">Au moins 10 caractéres pour la description</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <textarea id="partenariatS-desc" class="input" name="description"></textarea>
                                                            </div>
                                                        </div>
                                                        <!--Submit-->
                                                        <div class="button-wrap">
                                                            <button id="partenariat-services-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Default Inputs -->
                                </div>
                            </div>
                            <!-- /Services -->

                            <!-- Terrain -->
                            <div id="terrain" class="columns is-element is-hidden">
                                <div class="column">

                                    <!-- Default Inputs -->
                                    <div class="flat-card is-auto is-element-details">
                                        <div class="columns is-gapless is-vcentered">
                                            <div class="column is-6 is-description">
                                                <div class="inner">
                                                    <div class="divider"></div>
                                                    <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                    <p>Vous etes proprietaire d'un terrain et vous souhaitez le vendre ? </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                                </div>
                                            </div>
                                            <div class="column is-6 is-component">
                                                <div class="inner">
                                                    <form  id="partenariat-terrain-form" method="post" action="{{ path('app_partenariat') }}">
                                                        <!--Field desc-->
                                                        <div class="field has-flex-label has-validation">
                                                            <label>
                                                                <span>Description</span>
                                                                <span class="error">Au moins 10 caractéres pour la description</span>
                                                            </label>
                                                            <div class="control is-bigger has-icon">
                                                                <textarea id="partenariat-desc" class="input" name="description"></textarea>
                                                            </div>
                                                        </div>
                                                        <!--Submit-->
                                                        <div class="button-wrap">
                                                            <button id="partenariat-terrain-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                        </div>
                                                    </form>
                                                    <p id="terrain-submit-ok" class="is-hidden"> Merci pour votre demande de partenariat nous vous enverons une reponse dans les plus brefs delais</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Default Inputs -->

                                </div>
                            </div>
                            <!-- /Terrain -->

                        </div>

                    </div>
                </div>
                <!-- /Elements Grid -->

            </div>
        {% endif %}
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->

    <!-- file upload  -->
    <div id="upload-crop-modal" class="modal upload-crop-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="box-header">
                    <img src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                    <span>SOUMETRE VOTRE LOGO </span>
                    <div class="modal-delete"><i data-feather="x"></i></div>
                </div>
                <div class="box-body">
                    <label class="profile-uploader-box" for="upload-profile-picture">
                        <span class="inner-modal-content">
                            <img src="{{ asset('frontend/img/illustrations/profile.svg') }}" alt="">
                                <span>Clickez ici <br>Televerser le logo</span>
                        </span>
                        <input type="file" id="upload-profile-picture" accept="image/*" name="image">
                    </label>
                    <div class="upload-demo-wrap is-hidden">
                        <div id="upload-profile"></div>
                        <div class="upload-help buttons">
                            <a id="profile-upload-reset" class="button feather-button primary-button is-rounded raised is-bold profile-reset is-hidden">Rafraichir</a>
                            <button id="submit-profile-picture" class="button feather-button secondary-button is-rounded raised is-bold opaque is-disabled">
                                Utiliser
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}