{% extends '/security/frontend/base.html.twig' %}

{% block title %}Partenariat{% endblock %}

{% block body %}

    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
        <!-- Main section -->
        <div class="section">
            <!-- Container -->
            <div class="container">
                <!-- Elements Grid -->
                <div class="columns category-header">
                    <div class="column is-10 is-offset-1 is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="category-title">
                            <!-- Main Title -->
                            <h2 id="elements-title">PARTENARIAT</h2>

                            <!-- Elements Titles -->
                            <h2 id="boutique-title" class="element-title is-hidden">BOUTIQUE</h2>
                            <h2 id="services-title" class="element-title is-hidden">SERVICES</h2>
                            <h2 id="terrain-title" class="element-title is-hidden">TERRAIN</h2>

                            <!-- Back to selection -->
                            <a href="javascript:void(0);" class="button feather-button is-small primary-button raised elements-back is-hidden">Back</a>
                            <!-- Filigrane logo -->
                            <img class="brand-filigrane" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                        </div>

                        {% if app.user %}
                            <div id="elements-selection" class="columns is-multiline">
                                <!-- Boutique -->
                                <div class="column is-4">
                                    <div class="flat-card is-auto is-element-card">
                                        <div class="inner has-text-centered">
                                            <h3 class="element-card-title">Boutique</h3>
                                            <img src="{{ asset('frontend/img/illustrations/store.svg') }}" alt="">
                                            <div class="view-element">
                                                <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="boutique">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Services -->
                                <div class="column is-4">
                                    <div class="flat-card is-auto is-element-card">
                                        <div class="inner has-text-centered">
                                            <h3 class="element-card-title">Services</h3>
                                            <img src="{{ asset('frontend/img/illustrations/couch.svg') }}" alt="">
                                            <div class="view-element">
                                                <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="services">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Terrain -->
                                <div class="column is-4">
                                    <div class="flat-card is-auto is-element-card">
                                        <div class="inner has-text-centered">
                                            <h3 class="element-card-title">Terrain</h3>
                                            <img src="{{ asset('frontend/img/icons/checkout/world.svg') }}" alt="">
                                            <div class="view-element">
                                                <a href="javascript:void(0);" class="button feather-button primary-button is-small raised rounded" data-element="terrain">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Selection -->
                        {% else %}
                            <div id="account-main-placeholder" class="main-placeholder">
                                <div class="placeholder-content">
                                    <img src="{{ asset('frontend/img/illustrations/profile.svg') }}" alt="">
                                    <h3>Welcome, Guest</h3>
                                    <p>Guest users don't have accounts. Please login or register to view your account.</p>
                                    <div class="button-wrap">
                                        <a href="{{path('app_login')}}" class="button big-button primary-button rounded raised">Log In</a>
                                    </div>
                                    <a href="{{ path('app_register', {'role': 'new_user'}) }}">Don't have an account?</a>
                                </div>
                            </div>
                        {% endif %}

                        <!-- Boutique -->
                        <div id="boutique" class="columns is-element is-hidden">
                            <div class="column">

                                <!-- Default Inputs -->
                                <div class="flat-card is-auto is-element-details">
                                    <div class="columns is-gapless is-vcentered">
                                        <div class="column is-6 is-description">
                                            <div class="inner">
                                                <div class="divider"></div>
                                                <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                <p>Vous etes proprietaire d'un etablissement de vente/location de fournitures immobiliére, materiaux de constrction, maison/appartement et vous souhaités rejoindre notre communauté afin de promouvoir vos produits et services ? </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-component">
                                            <div class="inner">
                                                <form  id="partenariat-boutique-form" method="post" action="{{ path('app_partenariat') }}">
                                                    <!--Field avatar-->
                                                    <div class="field">
                                                        <!-- Avatar form -->
                                                        <div id="avatar-upload" class="avatar-wrapper has-simple-popover" data-content="Change profile picture" data-placement="top">
                                                            <img class="profile-pic" id="imagesrc" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                                                            <div class="upload-button modal-trigger" data-modal="upload-crop-modal">
                                                                <i class="upload-icon" data-feather="plus" aria-hidden="true"></i>
                                                            </div>
                                                            <!-- input class="input" id="register-image"  type="file" accept="image/*" name="image" -->
                                                            <!-- input id="register-image" type="text" name="image" class="input" -->
                                                        </div>
                                                        <!-- /Avatar form -->
                                                    </div>
                                                    <!--Field nom-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Nom de la Boutique</span>
                                                            <span class="error">Ne peut etre vide</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <input id="partenariatB-nom" type="text" name="nom" class="input">
                                                        </div>
                                                    </div>
                                                    <!--Field domaine-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Domaine(s) d'activité(s)</span>
                                                            <span class="error">Selectionnez au moins un domaine</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <select id="partenariatB-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)" multiple>
                                                                <option label="Domaine"></option>
                                                                <option value="immobilier">Immobilier</option>
                                                                <option value="fournitures">Fournitures</option>
                                                                <option value="construction">Construction</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--Field desc-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Description</span>
                                                            <span class="error">Au moins 10 caractéres pour la description</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <textarea id="partenariatB-desc" class="input" name="description"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--Submit-->
                                                    <div class="button-wrap">
                                                        <button id="partenariat-boutique-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                    </div>
                                                </form>
                                                <p id="boutique-submit-ok" class="is-hidden"> Merci pour votre demande de partenariat nous vous enverons une reponse dans les plus brefs delais</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Default Inputs -->
                            </div>
                        </div>
                        <!-- /Boutique -->

                        <!-- Services -->
                        <div id="services" class="columns is-element is-hidden">
                            <div class="column">

                                <!-- Default Inputs -->
                                <div class="flat-card is-auto is-element-details">
                                    <div class="columns is-gapless is-vcentered">
                                        <div class="column is-6 is-description">
                                            <div class="inner">
                                                <div class="divider"></div>
                                                <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                <p>Vous etes prestataire de services et vous souhaitez proposez vos services dans notre site. </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-component">
                                            <div class="inner">
                                                <form  id="partenariat-services-form" method="post" action="{{ path('app_partenariat') }}">
                                                    <!--Field cin-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>CIN</span>
                                                            <span class="error">CIN Invalide</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <input id="partenariatS-cin" type="text" name="cin" class="input">
                                                        </div>
                                                    </div>
                                                    <!--Field domaine-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Domaine(s) d'activité(s)</span>
                                                            <span class="error">Selectionnez au moins un domaine</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <select id="partenariatS-domaine" class="chosen-select is-multiple" data-placeholder="Selectionnez votre/vos domaine(s) d'activité(s)" multiple>
                                                                <option label="Domaine"></option>
                                                                {% for service in services %}
                                                                <option value="immobilier">{{service.nom}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--Field desc-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Description</span>
                                                            <span class="error">Au moins 10 caractéres pour la description</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <textarea id="partenariatS-desc" class="input" name="description"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--Submit-->
                                                    <div class="button-wrap">
                                                        <button id="partenariat-services-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                    </div>
                                                </form>
                                                <p id="services-submit-ok" class="is-hidden"> Merci pour votre demande de partenariat nous vous enverons une reponse dans les plus brefs delais</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Default Inputs -->
                            </div>
                        </div>
                        <!-- /Services -->

                        <!-- Terrain -->
                        <div id="terrain" class="columns is-element is-hidden">
                            <div class="column">

                                <!-- Default Inputs -->
                                <div class="flat-card is-auto is-element-details">
                                    <div class="columns is-gapless is-vcentered">
                                        <div class="column is-6 is-description">
                                            <div class="inner">
                                                <div class="divider"></div>
                                                <h2 class="title is-6 is-light">{% trans %}Bienvenue {% endtrans %} {% if app.user %} {{ app.user.prenom }} {% endif %}</h2>
                                                <p>Vous etes proprietaire d'un terrain et vous souhaitez le vendre ? </br> Si oui n'hesitez pas a remplir ce formulaire pour une demande d'adhésion.</p>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-component">
                                            <div class="inner">
                                                <form  id="partenariat-terrain-form" method="post" action="{{ path('app_partenariat') }}">
                                                    <!--Field desc-->
                                                    <div class="field has-flex-label has-validation">
                                                        <label>
                                                            <span>Description</span>
                                                            <span class="error">Au moins 10 caractéres pour la description</span>
                                                        </label>
                                                        <div class="control is-bigger has-icon">
                                                            <textarea id="partenariat-desc" class="input" name="description"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--Submit-->
                                                    <div class="button-wrap">
                                                        <button id="partenariat-terrain-submit" type="submit" class="button feather-button secondary-button btn-outlined is-fullwidth raised">Envoyer</button>
                                                    </div>
                                                </form>
                                                <p id="terrain-submit-ok" class="is-hidden"> Merci pour votre demande de partenariat nous vous enverons une reponse dans les plus brefs delais</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Default Inputs -->

                            </div>
                        </div>
                        <!-- /Terrain -->


                    </div>

                </div>
            </div>
            <!-- /Elements Grid -->

        </div>
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->

    <!-- file upload  -->
    <div id="upload-crop-modal" class="modal upload-crop-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="box-header">
                    <img src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                    <span>SOUMETRE VOTRE LOGO </span>
                    <div class="modal-delete"><i data-feather="x"></i></div>
                </div>
                <div class="box-body">
                    <label class="profile-uploader-box" for="upload-profile-picture">
                        <span class="inner-modal-content">
                            <img src="{{ asset('frontend/img/illustrations/profile.svg') }}" alt="">
                                <span>Clickez ici <br>Televerser le logo</span>
                        </span>
                        <input type="file" id="upload-profile-picture" accept="image/*" name="image">
                    </label>
                    <div class="upload-demo-wrap is-hidden">
                        <div id="upload-profile"></div>
                        <div class="upload-help buttons">
                            <a id="profile-upload-reset" class="button feather-button primary-button is-rounded raised is-bold profile-reset is-hidden">Rafraichir</a>
                            <button id="submit-profile-picture" class="button feather-button secondary-button is-rounded raised is-bold opaque is-disabled">
                                Utiliser
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Asynch request for partenariat boutique submitting -->

    <script>
        $('#partenariat-boutique-submit').on('click', function (event) {
            var $this = $(this);
            event.preventDefault();
            var form = $('#partenariat-boutique-form');

                $.ajax({
                    type: "POST",
                    url: form.attr("{{ path('app_partenariat') }}"),
                    data: {
                        "nom": $('#partenariatB-nom').val(),
                        "domaine": $('#partenariatB-domaine').val().toString(),
                        "desc": $('#partenariatB-desc').val(),
                        "partenariat": "boutique",
                        "logo": document.getElementById("imagesrc").src,
                    },
                    dataType: 'json',
                    success: function (data) {

                        $('#partenariat-boutique-form').addClass('is-hidden');
                        $('#boutique-submit-ok').removeClass('is-hidden');
                        setTimeout(function () {
                            $this.removeClass('is-loading');
                            toasts.service.success('', 'fas fa-check', data['infos'], 'bottomRight', 11200);
                        }, 1200);
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $this.removeClass('is-loading');
                            toasts.service.error('', 'fas fa-meh', " Erreur interne du server... Veuillez reesayer ", 'bottomRight', 2800);
                        }, 800);

                    },
                });

        })

    </script>

    <!-- Asynch request for partenariat services submitting -->

    <script>
        $('#partenariat-services-submit').on('click', function (event) {
            var $this = $(this);
            event.preventDefault();
            var form = $('#partenariat-services-form');

                $.ajax({
                    type: "POST",
                    url: form.attr("{{ path('app_partenariat') }}"),
                    data: {
                        "cin": $('#partenariatS-cin').val(),
                        "domaine": $('#partenariatS-domaine').val().toString(),
                        "desc": $('#partenariatS-desc').val(),
                        "partenariat": "services",
                    },
                    dataType: 'json',
                    success: function (data) {

                        $('#partenariat-boutique-form').addClass('is-hidden');
                        $('#boutique-submit-ok').removeClass('is-hidden');
                        setTimeout(function () {
                            $this.removeClass('is-loading');
                            toasts.service.success('', 'fas fa-check', data['infos'], 'bottomRight', 11200);
                        }, 1200);
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $this.removeClass('is-loading');
                            toasts.service.error('', 'fas fa-meh', " Erreur interne du server... Veuillez reesayer ", 'bottomRight', 2800);
                        }, 800);

                    },
                });
        })

    </script>
{% endblock %}