{% extends 'backend/base/base.html.twig' %}

{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/quill/quill.core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/quill/quill.bubble.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/quill/quill.snow.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/select2/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/dropzone/dropzone.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/custombox/custombox.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des Produits {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="header-title">{{ (form.vars.value.id is null)?"Ajouter":"Modifier" }} un produit</h4>
            <p class="sub-header">

            </p>
            {% include "backend/ecommerce/produit/formulaire-produit.html.twig" %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        const GetCategorieFormRoute = "{{ path('get_form_extend_prod',{"produit":form.vars.value.id}) }}"
        const GetVilleFormRoute = "{{ path('get_ville_form') }}"
    </script>
    <!-- Plugins Js -->
    <script src="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('backend/libs/quill/quill.min.js') }}"></script>
    <script src="{{ asset('backend/libs/select2/select2.min.js') }}"></script>
    <script src="{{ asset('backend/libs/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('backend/libs/custombox/custombox.min.js') }}"></script>
    <!-- custom js-->
    <script src="{{ asset('backend/js/pages/ecommerce/produit.js') }}"></script>

{% endblock %}