{{ form_start(form,{'attr':{'novalidate':'novalidate','id':'form-produit','class':'form-horizontal','data-plugin':'dropzone','data-previews-container':'#file-previews','data-upload-preview-template':'#uploadPreviewTemplate','enctype':'multipart/form-data'}}) }}
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.nom.vars.id }}">Nom du produit</label>
    <div class="col-sm-9">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.categorieProd.vars.id }}">Categorie du produit</label>
    <div class="col-sm-9">
        {{ form_widget(form.categorieProd, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.typeTransaction.vars.id }}">Type de transaction</label>
    <div class="col-sm-9">
        {{ form_widget(form.typeTransaction, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.ville.vars.id }}">Ville</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-9">
                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-sm-3">
                    <button type="button" id="btn-add-ville" class="btn btn-primary waves-lightspinner-border-sm" data-toggle="modal" data-target="#con-close-modal">
                        <span class="spinner-border-sm" role="status" aria-hidden="true"></span>
                        Ajouter
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.prix.vars.id }}">Prix</label>
    <div class="col-sm-9">
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.prixPromo.vars.id }}">Promotion</label>
    <div class="col-sm-9">
        {{ form_widget(form.prixPromo, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<div class="form-group row">
    <label class="col-sm-3 col-form-label" ></label>
    <div class="col-sm-9">
        <div class="custom-control custom-checkbox">
            {{ form_widget(form.visiblite, {'attr': {'class': 'custom-control-input'}}) }}
            <label class="custom-control-label" for="{{ form.visiblite.vars.id }}">Visible sur le site web ?</label>
        </div>
    </div>
</div>
{% endif %}
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ form.localisation.vars.id }}">Localisation</label>
    <div class="col-sm-9">
        {{ form_widget(form.localisation, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div id="extend-form"></div>

<div class="form-group row">
    <div class="col-sm-3"><label for="">Dimensions </label></div>
    <div class="col-sm-9 mt-lg-4">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="{{ form.dimension.longueur.vars.id }}">Longueur</label>
            <div class="col-sm-9">
                {{ form_widget(form.dimension.longueur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="{{ form.dimension.largeur.vars.id }}">Largeur</label>
            <div class="col-sm-9">
                {{ form_widget(form.dimension.largeur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="{{ form.dimension.hauteur.vars.id }}">Hauteur</label>
            <div class="col-sm-9">
                {{ form_widget(form.dimension.hauteur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="dropzone click">
        <div class="fallback">
            <input id="inp" name="file" type="file" multiple />
        </div>

        <div class="dz-message needsclick">
            <p class="h1 text-muted"><i class="mdi mdi-cloud-upload"></i></p>
            <h3>Déposez vos images ici ou cliquez pour upload.</h3>
        </div>
    </div>
    <div class="dropzone-previews mt-3" id="file-previews">
        {% for ordre,image in extraData.images %}
            <div class="card mt-1 mb-0 shadow-none border dz-image-preview uploaded-image">
                <div class="p-2">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img data-dz-thumbnail src="/images/produits/{{ image }}" data-order="{{ ordre }}" class="avatar-sm rounded bg-light" alt="">
                        </div>
                        <div class="col pl-0">
                            <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name>{{ image }}</a>
                            <p class="mb-0" data-dz-size></p>
                        </div>
                        <div class="col-auto">
                            <!-- Button -->
                            <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                <i class="mdi mdi-close-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- file preview template -->
<div class="d-none" id="uploadPreviewTemplate">
    <div class="card mt-1 mb-0 shadow-none border">
        <div class="p-2">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img data-dz-thumbnail class="avatar-sm rounded bg-light" alt="">
                </div>
                <div class="col pl-0">
                    <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>

                </div>
                <div class="col-auto">
                    <!-- Button -->
                    <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                        <i class="mdi mdi-close-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group row" >
    <label class="col-sm-3 col-form-label" for="">Description </label>
    <div class="col-sm-9">
        <div id="snow-editor" style="height: 100px;" >
            {{ extraData.desc is defined?(extraData.desc|raw):"" }}
        </div> <!-- end Snow-editor-->
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="">Produits associés</label>
    <div class="col-sm-9">
        <select id="produits-associes" class="select2 select2-multiple" multiple="multiple" data-value="{{ extraData.pa is defined?extraData.pa:""  }}" multiple data-placeholder="Choose ...">
            {% for categorie in categories %}
                {% if categorie.produits is not empty %}
                    <optgroup label="{{ categorie.categorie.nomCategorie }}">
                        {% for produit in categorie.produits %}
                            <option value="{{ produit.id }}">{{ produit.nom }}</option>
                        {% endfor %}
                    </optgroup>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
{#  #}
<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="">Attributs</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-9">
                <select id="attributs" class="select2 select2-multiple" multiple="multiple" data-value="{{ extraData.attr is defined?extraData.attr:""  }}" multiple data-placeholder="Choose ...">
                    {% for attribut in attributs %}
                        <option value="{{ attribut.id }}">{{ attribut.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-group mb-0 justify-content-end row">
    <div class="col-sm-9" style="display: flex; justify-content: start">
        <button type="submit" id="btn-submit" class="btn btn-primary waves-effect waves-lightspinner-border-sm">
            <span class="spinner-border-sm" role="status" aria-hidden="true"></span>
            Sauvegarder
        </button>
        <button type="submit" id="btn-reset" class="btn btn-info ml-1 waves-effect waves-light">
            Reset
        </button>
    </div>
</div>
{% do form.meuble.setRendered %}
{% do form.visiblite.setRendered %}
{% do form.dureeSejour.setRendered %}
{% do form.caracteristique.setRendered %}
{{ form_end(form) }}

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Annuler</button>
                <button id="save-modal" type="button" class="btn btn-info waves-effect waves-light">Sauvegarder</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->