{% extends "backend/base/base.html.twig" %}

{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/nestable2/jquery.nestable.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/css/pages/eservices/categorie.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des services {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Rechercher</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="rechercher...">
                            </div>
                            <div class="form-group mx-sm-3">
                                <label for="status-select" class="mr-2">Tri par</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Tout</option>
                                    <option value="1">Nom</option>
                                    <option value="2">Description</option>
                                    <option value="3">Nombre de sous-catégorie</option>
                                    <option value="4">Nombre de services</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-lg-right mt-3 mt-lg-0">
                            <a href="{{ path('nouvelle_categorie') }}" class="btn btn-success waves-effect waves-light" data-animation="fadein" data-overlayColor="#38414a"><i class="mdi mdi-plus-circle mr-1"></i> Nouvelle catégorie</a>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div><!-- end col-->
    </div>
    <!-- end row -->
    <div class="row">
        {% for cat in categories %}
            <div class="card-box col-lg-6">
                    <div class="card-box">
                        <h4 class="header-title">{{ cat.nom }}</h4>
                        <p class="sub-header">{{ cat.description }}</p>

                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid" src="{{ asset('images/services/'~cat.img) }}"
                                         alt="First slide" height="500px" width="400px">
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="text-center">
                    <a href="{{ path('detail_categorie_back',{'id':cat.id}) }}" class="btn btn-sm btn-secondary">Voir plus d'infos</a>
                </div>
            </div>
        {% endfor %}
        <div class="card-box col-auto mx-3 categorie">
            <a href="{{ path('nouvelle_categorie') }}">
                <div class="card-box">
                    <h4 class="header-title">Nouveau</h4>
                    <p class="sub-header">Ajouter une nouvelle catégorie</p>

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid"
                                     src="{{ asset('backend/images/pages/eservices/img-add.png') }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}