{% extends "backend/base/base.html.twig" %}

{% block title %}{{ (form.vars.value.id is null)?"Nouveau":"Modifier" }} Service{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/dropzone/dropzone.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %}Gestion des services {% endblock %}

{% block body %}
    <h4 class="header-title mb-3">{{ (form.vars.value.id is null)?"Ajouter un nouveau":"Modifier un" }} service</h4>

    {{ form_start(form,{'attr':{'novalidate':'novalidate','id':'form-service','data-plugin':'dropzone','data-previews-container':'#file-previews','data-upload-preview-template':'#uploadPreviewTemplate','enctype':'multipart/form-data'}}) }}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.nom.vars.id }}">Nom du service</label>
            <div class="col-md-9">
                {{ form_widget(form.nom, {'attr': {'class':'form-control col-sm-6', 'id':'nom'}}) }}
            </div>
        </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.categorieService.vars.id }}">Catégorie</label>
        <div class="col-md-auto">
            {{ form_widget(form.categorieService, {'attr' : {'class':'form-control col-auto', 'id':'categorieService'}}) }}
        </div>
    </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.description.vars.id }}">Description</label>
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class':'form-control','rows':'5', 'id':'description'}}) }}
            </div>
        </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.nbreQuestions.vars.id }}">Nombre de questions associées </label>
        <div class="col-sm-10">
            {{ form_widget(form.nbreQuestions, {'attr': {'class':'form-control'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="imgfile">Image </label>
        <div class="fileupload btn btn-secondary waves-effect mt-1">
                <span>
                    <i class="mdi mdi-cloud-upload mr-1"></i>
                    choisir une image
                </span>
            <input type="file" name="imgfile" id="imgfile">
        </div>

    </div>
        <br>
        <button id="valider" type="submit" class="btn btn-info waves-effect waves-lightspinner-border-sm">
            <span class="spinner-border-sm" role="status" aria-hidden="true"></span>
            Valider
        </button>
    {{ form_end(form) }}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- Plugins js-->
        <script src="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
        <script src="{{ asset('backend/libs/dropzone/dropzone.min.js') }}"></script>

        <!-- Init js-->
        <script src="{{ asset('backend/js/pages/form-advanced.init.js') }}"></script>

        <!-- custom js-->
        <script src="{{ asset('backend/js/pages/eservices/service.js') }}"></script>
    {% endblock %}