{% extends "backend/base/base.html.twig" %}

{% block title %}Nouveau Service - Questions {% endblock %}

{% block stylesheets %}
<!-- Plugins css-->
    <link href="{{ asset('backend/libs/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/multiselect/multi-select.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/select2/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block block_starter %}Gestion des services {% endblock %}

{% block body %}
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{{ path('nouveau_service') }}"><h4 class="header-title mb-3">Ajouter un nouveau service</h4></a></li>
        <li class="breadcrumb-item active">questions</li>
    </ol>
    <form method="post">
        <div id="progressbarwizard">

            <ul class="nav nav-pills nav-justified form-wizard-header mb-3">
                {% for i in 1..service.nbreQuestions %}
                <li class="nav-item">
                    <a href="#question-{{ i }}" data-toggle="tab" class="nav-link">
                        <span class="number">{{ i }}.</span>
                        <span class="d-none d-sm-inline">Question</span>
                    </a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a href="#finish" data-toggle="tab" class="nav-link">
                        <span class="number">{{ service.nbreQuestions+1 }}.</span>
                        <span class="d-none d-sm-inline">Terminé</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content b-0 mb-0">

                <div id="bar" class="progress mb-3" style="height: 7px;">
                    <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                </div>
                {% for i in 1..service.nbreQuestions %}
                <div class="tab-pane" id="question-{{ i }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" for="userName1">Question {{ i }}</label>
                                <div class="col-md-9">
                                    <span class="input-group-addon bootstrap-touchspin-postfix input-group-append">
                                        <input type="text" class="form-control" id="question{{ i }}" name="question{{ i }}" value="">
                                        <span class="input-group-text">?</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" for="password1"> Réponses</label>
                                <div class="col-md-9">
                                    <div>
                                        <input name="reponses{{ i }}" id="reponses{{ i }}" type="text" value="Amsterdam,Washington,Sydney" data-role="tagsinput" placeholder="add tags"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" for="confirm1">Type de question </label>
                                <div class="col-md-9">
                                    <select id="typeQuestion{{ i }}" name="typeQuestion{{ i }}" class="selectpicker mb-0" data-style="btn-outline-primary">
                                        <option value="qru">Question à réponse unique</option>
                                        <option value="qcm">Question à réponses multiples</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" for="confirm1">Voulez-vous ajouter un champ " autre " ?</label>
                                <div class="col-md-9">
                                    <input id="autre{{ i }}" name="autre{{ i }}" value="oui" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>
                {% endfor %}
                <div class="tab-pane" id="finish">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                <h3 class="mt-0">Terminé</h3>

                                <p class="w-75 mb-2 mx-auto">Les questions relatives à ce service seront stockées dans un fichier json</p>

                                <div class="mb-3">
                                    <button class="btn btn-success" type="submit">Valider</button>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>

                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">précédent</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="javascript: void(0);" class="btn btn-secondary">{% if 8 == service.nbreQuestions %}Terminé {% else %}suivant {% endif %}</a>
                    </li>
                </ul>

            </div> <!-- tab-content -->
        </div> <!-- end #progressbarwizard-->
    </form>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- Plugins js-->
        <script src="{{ asset('backend/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
        <script src="{{ asset('backend/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
        <script src="{{ asset('backend/libs/switchery/switchery.min.js') }}"></script>
        <script src="{{ asset('backend/libs/jquery-mask-plugin/jquery.mask.min.js') }}"></script>
        <script src="{{ asset('backend/libs/select2/select2.min.js') }}"></script>
        <script src="{{ asset('backend/libs/bootstrap-select/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('backend/libs/multiselect/jquery.multi-select.js') }}"></script>

        <!-- Init js-->
        <script src="{{ asset('backend/js/pages/form-wizard.init.js') }}"></script>
        <script src="{{ asset('backend/js/pages/form-advanced.init.js') }}"></script>
    {% endblock %}