{% extends "backend/base/base.html.twig" %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block stylesheets %}
    <!-- Plugins css-->
    <link href="{{ asset('backend/libs/dropzone/dropzone.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('backend/libs/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block block_starter %}Gestion des services {% endblock %}

{% block body %}
    <h4 class="header-title mb-3">Ajouter une nouvelle catégorie</h4>

    {{ form_start(form,{'attr':{'novalidate':'novalidate','id':'form-categorie','data-plugin':'dropzone','data-previews-container':'#file-previews','data-upload-preview-template':'#uploadPreviewTemplate','enctype':'multipart/form-data'}}) }}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="userName1">Nom de la catégorie</label>
            <div class="col-md-9">
                {{ form_widget(form.nom, {'attr': {'class':'form-control col-sm-6', 'id':'nom'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="userName1">Sous-catégorie</label>
            {{ form_widget(form.typeCategorie, {'attr' : {'id':'typeCat', 'data-plugin':'switchery','data-color':'#1AB394', 'data-secondary-color':'#ED5565'}}) }}
            <div id="catParent" class="row col-md-9">
                <label class="col-sm-2 col-form-label" for="userName1">Nom de la catégorie parent</label>
                <div class="col-md-auto">
                    {{ form_widget(form.categorieParent, {'attr' : {'class':'form-control col-auto', 'id':'categorieParent'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="example-textarea">Description</label>
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class':'form-control','rows':'5', 'id':'description'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="image-service">Image </label>
            <div class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                 data-upload-preview-template="#uploadPreviewTemplate">
                <div class="fallback">
                    <!--<input id="file" name="file" type="file" multiple/>-->
                    {{ form_widget(form.imgfile) }}
                </div>

                <div class="dz-message needsclick">
                    <p class="h1 text-muted"><i class="mdi mdi-cloud-upload"></i></p>
                    <h3>Drop files here or click to upload.</h3>
                    <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
                                                    <strong>not</strong> actually uploaded.)</span>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info waves-effect waves-light">Valider</button>

    <!-- file preview template -->
    <div class="d-none" id="uploadPreviewTemplate">
        <div class="card mt-1 mb-0 shadow-none border">
            <div class="p-2">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img data-dz-thumbnail class="avatar-sm rounded bg-light" alt="">
                    </div>
                    <div class="col pl-0">
                        <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                        <p class="mb-0" data-dz-size></p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                            <i class="mdi mdi-close-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <button id="valc">valc</button>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- Plugins js-->
        <script src="{{ asset('backend/libs/dropzone/dropzone.min.js') }}"></script>
        <script src="{{ asset('backend/libs/switchery/switchery.min.js') }}"></script>

        <!-- Init js-->
        <script src="{{ asset('backend/js/pages/form-fileuploads.init.js') }}"></script>
        <script src="{{ asset('backend/js/pages/form-advanced.init.js') }}"></script>

        <script>
            $('#nom').click(function (){
                console.log("hiiiiiii")
                if($('#typeCat').is(':checked')){
                    console.log("hiiiiiii")
                    $('#catParent').hide();
                }else
                    $('#catParent').show();
            })
        </script>
    {% endblock %}