{% extends "backend/base/base.html.twig" %}

{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/nestable2/jquery.nestable.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/css/pages/eservices/categorie.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/dropzone/dropzone.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/libs/custombox/custombox.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des Blogs {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Rechercher</label>
                                <form action="{{ path('searchAllBack') }}" method="post">
                                    <input type="search" id="recherche" style="width: 80%;" name="mot" class="form-control" placeholder="Rechercher..."><button  style="float: right;width: 20%;" type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                                </form>
                                <ul id="entitiesNav">
                                    <div>
                                        <a href="#" class="title" style="font-size: small">Resultat de la recherche<span class="fa arrow"></span> </a>

                                    </div>
                                </ul>
                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                <script type="text/javascript">
                                    jQuery(document).ready(function(){
                                        $("#recherche").keyup(function(){
                                            var minlength=1;
                                            var that = this;
                                            var value = $(this).val();
                                            var entitySelector = $("#entitiesNav").html('');
                                            if(value.length>=minlength){
                                                $.ajax({
                                                    url: "{{ path('search') }}",
                                                    method: "GET",
                                                    data: {
                                                        'q': value
                                                    },
                                                    dataType: "text",
                                                    success: function(msg){
                                                        if(value===$(that).val()){
                                                            var result =JSON.parse(msg);
                                                            $.each(result, function(key,arr){
                                                                $.each(arr, function(id,value){
                                                                    if (key==='posts'){
                                                                        if (id!=='error'){
                                                                            entitySelector.append('<div style="cursor: pointer;position: relative;left: -35px;margin-top: 5px;"><a href="/front/eservice/front/eservices/service/singleblog/'+id+'">'+'<img src="/images/blog/'+value[0]+'" style="width: 50px; height: 50px;margin-right: 5px;"/>' +'</a><b class="title" style="font-size: small;position: relative;bottom: 15px;">'+value[1]+'</b></div>');
                                                                        }else{
                                                                            entitySelector.append('<div class="errorLi" style="font-size: small">'+value+'</div>')
                                                                        }
                                                                    }
                                                                })
                                                            })
                                                        }
                                                    }
                                                })
                                            }
                                        })
                                    })
                                </script>
                            </div>
                            <!--<div class="form-group mx-sm-3">
                                <label for="status-select" class="mr-2">Tri par</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Tout</option>
                                    <option value="1">Nom</option>
                                    <option value="2">Description</option>
                                    <option value="3">Nombre de sous-catégorie</option>
                                    <option value="4">Nombre de services</option>
                                </select>
                            </div>-->
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-lg-right mt-3 mt-lg-0">
                            <a href="{{ path('add_blog') }}" class="btn btn-success waves-effect waves-light" data-animation="fadein" data-overlayColor="#38414a"><i class="mdi mdi-plus-circle mr-1"></i> Nouvelle catégorie</a>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div><!-- end col-->
    </div>
    <!-- end row -->
    <div class="row">
        {% for blog in blogs %}
            <div class="card-box col-lg-6">
                <div class="card-box">
                    <h4 class="header-title">{{ blog.nom }}</h4>
                    <p class="sub-header">{{ blog.courteDescription }}</p>

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="{{ asset('images/blog/'~blog.image) }}"
                                     alt="First slide" height="500px" width="400px">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="{{ path('back_single_blog',{'id':blog.id}) }}" class="btn btn-sm btn-secondary">Voir plus d'infos</a>
                    <a href="{{ path('back_blog_del',{'id':blog.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                </div>
            </div>
        {% endfor %}
        <textarea></textarea>
        <div class="card-box col-auto mx-3 categorie">
            <a href="{{ path('add_blog') }}">
                <div class="card-box">
                    <h4 class="header-title">Nouveau</h4>
                    <p class="sub-header">Ajouter un nouveau blog</p>

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid"
                                     src="{{ asset('backend/images/pages/eservices/img-add.png') }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(blogs) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>
    <script src="{{ asset('backend/libs/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('backend/libs/custombox/custombox.min.js') }}"></script>
{% endblock %}

