{% extends "backend/base/base.html.twig" %}

{% block title %}{{ categorie.nom }}{% endblock %}
{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/nestable2/jquery.nestable.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/css/pages/eservices/categorie.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des services {% endblock %}
{% block body %}
    <h4 class="header-title mb-3">{{ categorie.nom }}</h4>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card-box">
                <ul class="nav nav-pills navtab-bg">
                    <li class="nav-item">
                        <a href="#general-q-tab" data-toggle="tab" aria-expanded="false" class="nav-link px-3 py-2 active">
                            <span class="d-inline-block d-sm-none"><i class="ti-help-alt"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="ti-help-alt mr-1"></i> Description</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#privacy-p-tab" data-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                            <span class="d-inline-block d-sm-none"><i class="fas fa-hands-helping"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fas fa-hands-helping mr-1"></i> Services</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#support-tab" data-toggle="tab" aria-expanded="false" class="nav-link px-3 py-2">
                            <span class="d-inline-block d-sm-none"><i class="ti-star"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="ti-star mr-1"></i> Avis</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="general-q-tab">
                        <div class="col-auto">
                            <p class="sub-header">{{ categorie.description }}</p>
                        </div>
                        <div class="col-auto">
                            <img class="d-block img-fluid" src="{{ asset('images/services/'~categorie.img) }}"
                                 alt="First slide" height="500px" width="400px">
                        </div>
                        <div class="text-lg-right mt-3 mt-lg-0">
                            <a href="{{ path('edit_categorie', {'categorie':categorie.id}) }}" class="btn btn-primary waves-effect waves-light" data-animation="fadein" data-overlayColor="#38414a"><i class="mdi mdi-tooltip-edit mr-1"></i> modifier</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="privacy-p-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>
                            <a>voir plus</a>

                        </div>
                        <!-- end row -->
                    </div>
                    <div class="tab-pane fade" id="support-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}